body {
  font-family: arial;
  color : #3A2E00;
}

input {
	
	border-radius: 5px;
	padding: 5px;
}

div.button {
	text-align: right;
}



form { 
	width: 480px; 
	margin: auto;
	padding: 5px; 
	border: solid #FEC922 12px;	
	border-radius: 5px;  
	
}

